!/content
/content/navigation/*.yaml
/content/**/*.md
/content/**/*.yaml
!/content/navigation/*.yaml
!/content/assets/*.yaml
!/content/collections/*.yaml
!/content/taxonomies/*.yaml
!/content/globals/*.yaml

/node_modules
/public/vendor
/public/assets
/public/build
/public/css
/public/hot
/public/js
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.yarn/
